<% if(messages.error) { %>
    <div id="saveButton" class="save-msg error">
        <%= messages.error %>
    </div>
<% } %>
<% if(messages.success) { %>
    <div id="saveButton" class="save-msg success">
        <%= messages.success %>
    </div>
<% } %>