<!DOCTYPE html>

<html>

    <head>
        <%- include("parts/head") %>
        <title>Dustie - Home</title>
    </head>


    <body>

    <%- include("parts/navbar") %>
    
    
        <div id="content">

            <header>
                <h1>Dustie</h1>
                <p>The bot that will change the Discord's community forever!</p>
                <div class="buttons">
                    <a href="/invite">Invite Bot</a>
                    <a href="/dashboard">Dashboard</a>
                </div>
            </header>


        
            <div class="overlay-wave">
                <svg  version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"  viewBox="0 0 1440 126" style="enable-background:new 0 0 1440 126;" xml:space="preserve">
                    <path d="M685.6,38.8C418.7-11.1,170.2,9.9,0,30v96h1440V30C1252.7,52.2,1010,99.4,685.6,38.8z"/>
                </svg>
            </div>



            <div class="overlay" style="height: 100%;">


                <div class="about">
                    <h4>News</h4>

                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <p>We are redesigning our whole website! We are trying to make it simplier and easier to understand while still looking good! This will include new features that will always be added! If some features are not working we are <b>sorry</b>! Most of our dashboard is still functional but missing features!</p>
                                <p>-We are sorry if most links do not work! As they are not developed yet or broken -</p>
                            </div>
                        </div>
                    </div>  
                </div>

                <div class="about">
                    <h4>About</h4>

                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <p>Please welcome Dustie to Discord! One of the best Discord Bots there is. As many other bots, Dustie is a multi proposable bot that has <span style="text-decoration: underline;">everything</span>! Dustie just has 2 benefit, that other bots don't have. Dustie has its own <a href="/dashboard">Dashboard</a>! It's custom made and has a lot of features meaning that bot is going to be the most <b>custimisable</b> bot going! Also the bot accepts <b>95%</b> of the suggestions that are sent in our <a href="/discord">Discord Server</a>.</p>
                            </div>
                            <div class="col">
                                <img src="https://imgur.com/tKkG2N7.png" alt="Dustie Logo">
                            </div>
                        </div>
                    </div>  
                </div>

                <div class="features">
                    <h4>Features</h4>
                    <div class="container">
                        <div class="row">
                            <div class="feature col-sm">
                                <h5>Dashboard</h5>
                                <p>This bot has a really simple and user friendly dashboard that can be to used to customise your bot as much as you like!</p>
                            </div>

                            <div class="feature col-sm">
                                <h5>Customisability</h5>
                                <p>This bot has more custommisable features than any other bot that is there! (<b>ALOT TO BE ADDED</b>!)</p>
                            </div>

                            <div class="feature col-sm">
                                <h5>Modular</h5>
                                <p>This bot is modular, each module can be enabled or disabled for user's liking. Even every command can be toggled!</p>
                            </div>

                            <div class="feature col-sm">
                                <h5>Premium</h5>
                                <p>There are really helpful premium features. Including <b>guild</b> and <b>user</b> premium! These premium packages
                                    are packged with features, <a href="/premium">click here</a> for more information!</p>
                            </div>
                        </div>
                    </div>
                </div>




            </div>

            <%- include("parts/footer") %>

        </div>
    </body>

    <%- include("parts/js") %>

</html>